{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>About Us</h1>
<br>
<p>This site was produced by the Strenght After Service eam as part of the Code Institute April 2023 Hackathon </p>
<p>The theme of the hackathon was "Stamp Out The Stigma:  Supporting Veterans Mental Health"</p>
<p>The team is made up of Alex, Debbie, Konstantina, Ariane, Marlon and Aiga</p>
<p>We have done our best in the time allowed to come up with a site that allows veterans to share their transition stories</p>
<p>It is hoped that these stories will be uplifting and inspirational to other veterans</p>
<br>
<p>We hope you enjoy reading them</p>
{% endblock %}