{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid my-5" id="about-pg">
    <div class="col mt-5">
        <div class="container text-center">
            <h1>About Us</h1>
            <br>
            <p>
                This site was produced by the Strenght After Service Team as part of the April 2023 Hackathon, that was provided by SODA
                and Code Institute.
            </p>
            <p>The theme of the hackathon was "Stamp Out The Stigma:  Supporting Veterans Mental Health".</p>
            <p>
                The aim of this website is to create a good environment for users to add and share their own stories to
                the community, and maybe inspire others in some ways. 
            </p>
            <p>We have done our best in the time allowed to come up with a site that allows veterans to share their transition stories</p>
            <p>It is hoped that these stories will be uplifting and inspirational to other veterans.</p>
            <br>
            <p>We hope you enjoy reading them.</p>
            
            <h3>Say hello to our team.</h3>
        
            <div id="team-members">
                <div class="team-member">
                    <img src="https://cdn.gradko.ovh/braveheart/images/team-images/Alex.PNG" class="team-img">
                    <p>Alex</p>
                    <a href="https://github.com/alexandergrib" target="_blank"><img src="https://cdn.gradko.ovh/braveheart/images/team-images/GitHub.png" class="social-img"></a>
                </div>
                <div class="team-member">
                    <img src="https://cdn.gradko.ovh/braveheart/images/team-images/Konstanina.PNG" class="team-img">
                    <p>Konstanina</p>
                    <a href="https://github.com/KonstantinaStrantzali" target="_blank"><img src="https://cdn.gradko.ovh/braveheart/images/team-images/GitHub.png" class="social-img"></a>
                </div>
                <div class="team-member">
                    <img src="https://cdn.gradko.ovh/braveheart/images/team-images/Ariane.PNG" class="team-img">
                    <p>Ariane</p>
                    <a href="https://github.com/Aria-vero-s" target="_blank"><img src="https://cdn.gradko.ovh/braveheart/images/team-images/GitHub.png" class="social-img"></a>
                </div>
                <div class="team-member">
                    <img src="https://cdn.gradko.ovh/braveheart/images/team-images/Debbie.PNG" class="team-img">
                    <p>Debbie</p>
                    <a href="https://github.com/debbiect246" target="_blank"><img src="https://cdn.gradko.ovh/braveheart/images/team-images/GitHub.png" class="social-img"></a>
                </div>
                <div class="team-member">
                    <img src="https://cdn.gradko.ovh/braveheart/images/team-images/Aiga.PNG" class="team-img">
                    <p>Aiga</p>
                    <a href="https://github.com/AiGaA" target="_blank"><img src="https://cdn.gradko.ovh/braveheart/images/team-images/GitHub.png" class="social-img"></a>
                </div>
                <div class="team-member">
                    <img src="https://cdn.gradko.ovh/braveheart/images/team-images/Marlon.PNG" class="team-img">
                    <p>Marlon</p>
                    <a href="https://github.com/Markpm-code" target="_blank"><img src="https://cdn.gradko.ovh/braveheart/images/team-images/GitHub.png" class="social-img"></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}