{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container pt-5">
    <div class="text-center">
        <h2>About Brave Hearts Together</h2>
        <div class="mx-auto pt-3" style="width: 750px;">
            <p>
                This website has been created as part of SODA x Code Institute Hackathon April 2023. And the
                topic is "Stamp Out the Stigma: Supporting Vetereans' Mental Health".
            <br>
                This platform is made to give a chance to veteran community and all vetern community to express 
                themselves and share their unique stories with others.
            <br>
                The aim of our website is to let people see that they are not alone in their journey and by sharing 
                their own experiences can be healing and can be helpful to others. 
            <br>
                If you wish to create your own story board, you can easily create a profile page, where you will
                be able to create your own story board and share with others. You can leave your name, or it 
                can be anonymous, it is all up to you! You don't have to be a registered user, if you wish only
                to read the stories. It is all up to you!
            </p>
        </div>
    </div>
</main>

{% endblock %}