{% extends 'base.html' %}
{% load static %}

{% block content %}
   <div class="container-fluid">
      <!-- landing image and title -->
      <img src="https://cdn.gradko.ovh/braveheart/images/jordan-wozniak.jpg" id="landing-image">
      <div id="title-container">
        <div class="container pt-5" id="title">
          <h1>Brave <strong>Hearts</strong> Together</h1>
        </div>
      </div>
      <!-- Ethos -->
      <div class="container pt-5">
        <div class="row pt-5" id="ethos-icons">
          <div class="col">
            <i class="fa-3x fa-solid fa-heart-pulse"></i>
            <h2>Wellbeing in mind</h2>
            <p>Sharing your thoughts is a great way to express yourself and connect with others, which can be both empowering and therapeutic.</p>
          </div>
          <div class="col">
            <i class="fa-3x fa-solid fa-user-shield"></i>
            <h2>Public or private</h2>
            <p>You can keep your identity hidden from other users or create a public account and connect with other users who share similar interests. 
            </p>
          </div>
          <div class="col">
            <i class="fa-3x fa-solid fa-globe"></i>
            <h2>Join our community</h2>
            <p>Being part of a community can also provide a sense of belonging and support, as you'll be surrounded by like-minded people who share your values.</p>
          </div>
        </div>
      </div>
      <!-- Recent posts -->
      <div class="container pt-5">
        <h1 class="pb-5">Recent stories</h1>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="https://cdn.gradko.ovh/braveheart/images/poppy.jpg" id="post-img" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-lg-8 col-md-6 col-sm-12">
            <h3>Title</h3>
            <p>This is an example post. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}