<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<ul>

    {% for story in stories %}
        <li>
            {{ story.title }}
            {{ story.story_text }}
            {% if story.image %}

                <img src="{{ story.image.url }}" alt="" width="50" height="50" style="width: 50px; height: 50px;">
            {% endif %}
        </li>
    {% endfor %}
</ul>



<form method="POST" action="{% url 'add_story' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add</button>
</form>

</body>
</html>