{% extends 'base.html' %}


{% block content %}

<div class="container text-center stories-header">
    <h1>Recent Stories</h1>
</div>

    {% for story in stories %}
    <div class="container pt-3" id="main-card">
        <div class="my-card">
            {% if story.image %}
                <div class="card-img">
                    <img src="{{ story.image.url }}" alt="" id="story-img">
                </div>
            {% endif %}
            <div class="card-text">
                <div class="story-title">
                    <h2>{{ story.title }}</h2>
                </div>

                <div class="story-text">
                    {{ story.story_text }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

        
{# Form to add new story #}
{% include 'stories/add_story.html' %}

{% endblock %}